@use '../../00_utilities/variables';

.flowerWrapper {
  width: 30%;
  right: 5%;
  margin-top: -20%;
  max-width: 10em;
  position: absolute;

  @media (min-width: variables.$md) {
    width: 12%;
    min-width: 10em;
    float: right;
    right: 0;
    margin-top: -10%;
    margin-right: 0;
    position: relative;
    max-width: none;
  }

  @media (min-width: variables.$xxl) {
    margin-top: -7%;
    width: 10%;
  }
}

.content {
  margin-top: 6rem;
}
