@use '../../00_utilities/variables';

.item {
    margin-top: 2px;
    --color: #{variables.$white};
    text-decoration: none;
    width: fit-content;

    span {
        color: var(--color);
        transition: color variables.$base-transition;
        font-size: variables.$font-size-base;

        @media (min-width: variables.$md) {
            font-size: variables.$font-size-small;
        }

        @media (min-width: variables.$lg) {
            font-size: variables.$font-size-base;
        }
    }

    &:after {
        content: "";
        width: 0;
        height: 2px;
        background-color: var(--color);
        margin-top: 8px;
        border-radius: 10em;
        display: block;
        transition: width .3s ease-in-out;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}

.active {
    --color: #{variables.$primaryLight};
    color: variables.$primaryLight;

    @media (min-width: variables.$md) {
        --color: #{variables.$secondaryLight};
        color: variables.$secondaryLight;
    }
}
