@use '../../00_utilities/variables';

.hero {
  --hero-height: 91.5vh;
  --nav-height: 10vh;
  background-image: url('/img/bg1.webp');
  background-size: cover;
  height: 100dvh;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  z-index: 4;
  position: relative;

  @media (min-width: variables.$lg) {
    height: var(--hero-height);
  }
}

.imageWrapper {
  position: relative;
  height: 75%;
  width: 100%;
  max-height: 35em;

  @media (min-width: variables.$lg) {
    max-height: none;
    overflow: hidden;
    position: static;
    height: auto;
  }
}

.headlineWrapper {
  h1 {
    margin-top: 10vh;
  }

  @media (min-width: variables.$lg) {
    margin-top: 15%;
    margin-bottom: 0;
  }
}

.playerImageWrapper {
  position: absolute;
  width: 80%;
  max-width: 24em;
  min-width: 22em;
  left: 50%;
  bottom: 10%;
  z-index: 3;
  transform: rotate(-6deg) translateX(0);
  animation: playerSlideInMobile 1.6s ease-in forwards;
  animation-delay: .2s;

  @media (min-width: variables.$sm) {
    bottom: 5%;
    right: 12%;
    left: auto;
    transform: rotate(-6deg) translate(70%, 8%);
    animation: playerSlideIn 1.6s ease-in forwards;
  }

  @media (min-width: variables.$lg) {
    overflow-y: clip;
    overflow-x: visible;
    width: 60vh;
    min-width: 30em;
    max-width: none;
    bottom: 10%;
    top: auto;
  }

  @media (min-width: variables.$xl) {
    right: 12%;
  }

  @media (min-width: variables.$xxl) {
    right: 16%;
  }

  @keyframes playerSlideIn {
    0% {
      transform: rotate(-6deg) translate(70%, 8%);
    }
    100% {
      transform: rotate(0) translate(0, 0);
    }
  }
  @keyframes playerSlideInMobile {
    0% {
      transform: rotate(-6deg) translateX(0);
    }
    100% {
      transform: rotate(0) translateX(-50%);
    }
  }
}

.playerImgs {
  width: 100%;
  height: auto;
  z-index: 3;
  position: relative;

  @media (min-width: variables.$lg) {
    margin-top: 30%;
  }
}

.player {
  width: 100%;
  height: auto;
}

.bird {
  top: 31%;
  left: -8%;
  width: 42%;
  height: auto;
  position: absolute;
  animation: birdRotate 2s ease-in forwards;
  animation-delay: .8s;
  transform: rotate(-8deg);

  @keyframes birdRotate {
    0% {
      transform: rotate(-8deg);
    }
    50% {
      transform: rotate(6deg);
    }
    100% {
      transform: rotate(2deg);
    }
  }
}

.flower {
  top: 42%;
  left: 30%;
  width: 38%;
  height: auto;
  position: absolute;
  transform: scale(.8);
  animation: flowerGrow 1.2s ease-in forwards;
  animation-delay: .4s;

  @keyframes flowerGrow {
    from {
      transform: scale(.8);
    }
    to {
      transform: scale(1);
    }
  }
}

.topFlowers {
  width: 75%;
  height: auto;
  position: absolute;
  z-index: 1;
  max-width: 18em;
  min-width: 16em;
  right: 32%;
  transform: translateY(-40%);
  animation: 1.2s moveIn ease-in forwards;

  @media (min-width: variables.$sm) {
    width: 55%;
    max-width: 22em;
  }

  @media (min-width: variables.$md) {
    right: 25%;
    left: auto;
    width: 38%;
  }

  @media (min-width: variables.$lg) {
    right: 25%;
    max-width: 28em;
  }

  @media (min-width: variables.$xl) {
    width: 35%;
    max-width: 30em;
    right: 23%;
  }

  @keyframes moveIn {
    from {
      transform: translateY(-40%);
    }
    to {
      transform: translateY(0);
    }
  }
}

.plants {
  overflow: hidden;
}

.leftPlants {
  position: absolute;
  animation: plantGrowLeft 1.2s ease-in;
  width: 60%;
  left: 0;
  height: auto;
  bottom: 0;
  max-width: 20em;
  min-width: 15em;

  @media (min-width: variables.$lg) {
    width: 28%;
    bottom: 0;
    top: auto;
    max-width: none;
  }

  @media (min-width: variables.$xl) {
    width: 22em;
  }
}

.rightPlant {
  animation: plantGrowRight 1.2s ease-in;
  position: absolute;
  width: 45%;
  height: auto;
  z-index: 5;
  right: 0;
  bottom: 0;
  max-width: 14.3em;
  min-width: 10em;

  @media (min-width: variables.$md) {
    width: 25%;
    top: auto;
    bottom: 0;
    max-width: none;
    z-index: 3;
  }

  @media (min-width: variables.$xl) {
    width: 20em;
  }
}

.middlePlants {
  opacity: 1;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: -6%;
  z-index: 3;
  animation: plantGrowRight 1s ease-in;

  @media (min-width: variables.$lg) {
    bottom: -8%;
  }

  @media (min-width: variables.$lg) {
    bottom: 0;
  }
}

.rightPlantSecond {
  position: absolute;
  transform: rotate(90deg) scaleY(-1);
  width: 35%;
  bottom: -6%;
  right: 20%;
  height: auto;
  z-index: 4;
  max-width: 12em;
  min-width: 9em;

  @media (min-width: variables.$lg) {
    top: auto;
    width: 20%;
    max-width: none;
    bottom: -3.3em;
    right: 25%;
  }

  @media (min-width: variables.$xl) {
    width: 15em;
  }
}

.rightPlantThird {
  position: absolute;
  transform: rotate(90deg);
  width: 50%;
  height: auto;
  z-index: 2;
  display: none;
  min-width: 8em;

  @media (min-width: variables.$lg) {
    display: block;
    width: 18%;
    bottom: -2.8em;
    right: 10%;
  }

  @media (min-width: variables.$xl) {
    width: 13em;
  }
}

.annotation {
  font-size: variables.$font-size-smallest;
  position: absolute;
  left: 1em;
  bottom: 1em;
  z-index: 3;

  @media (min-width: variables.$md) {
    left: 2em;
    bottom: 2em;
  }
}

@keyframes plantGrowLeft {
  from {
    transform: scale(.6) translate(-20%, 45%);
  }
  to {
    transform: scale(1) translate(0);
  }
}

@keyframes plantGrowRight {
  from {
    transform: scale(.6) translate(40%, 40%);
  }
  to {
    transform: scale(1) translate(0, 0);
  }
}
