@use '../../00_utilities/variables';

.singleMedia {
  width: 100%;
  margin: 0 auto;

  @media (min-width: variables.$md) {
    width: 70%;
    margin: 8em auto;
    max-width: 60em;
  }
}

.flowerWrapper1 {
  width: 15%;
  min-width: 10em;
  float: right;
}
