@use '../../00_utilities/variables';

.singleMedia {
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  text-align: center;

  @media (min-width: variables.$md) {
    width: 70%;
    margin: 10rem auto;
    height: 40rem;
  }

  h3 {
    margin-block: 1rem;
  }
}

.flowerWrapper1 {
  width: 26%;
  float: right;
  margin-top: -2%;

  @media (min-width: variables.$md) {
    width: 15%;
  }

  @media (min-width: variables.$xl) {
    width: 12%;
  }
}
