@use '../../00_utilities/variables';

.singleMedia {
  width: 100%;
  margin: 0 auto;

  @media (min-width: variables.$md) {
    width: 70%;
    margin: 8em auto;
    max-width: 60em;
  }
}

.flowerWrapper1 {
  width: 26%;
  float: right;
  margin-top: -2%;

  @media (min-width: variables.$md) {
    width: 15%;
  }

  @media (min-width: variables.$xl) {
    width: 12%;
  }
}
