@use '../../00_utilities/variables';

.flowerWrapper {
  width: 30%;
  right: 0;
  margin-top: -20%;
  margin-right: -1%;
  max-width: 10em;
  position: absolute;

  @media (min-width: variables.$md) {
    width: 12%;
    min-width: 10em;
    float: right;
    margin-top: -10%;
    margin-right: 0;
    position: relative;
    max-width: none;
  }

  @media (min-width: variables.$xxl) {
    margin-top: -4%;
    width: 10%;
  }
}

.content {
  margin-top: 4.5rem;

  @media (min-width: variables.$md) {
    margin-top: 2.5rem;
  }
}

.backLink {
  text-decoration: underline;

  button {
    --border-color: transparent;
  }
}
