@use '../../00_utilities/variables.scss';

.heading {
  position: relative;
  margin-left: .2em;
  text-transform: uppercase;
  margin-block: .5em;
  color: variables.$white;
}

.indented {
  margin-left: .8em;
}

.secondLine {
  color: transparent;
  background-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px variables.$white;
}