@use '../../00_utilities/variables';

.block {
  margin: 0 auto;
  flex: 1;
  padding-inline: variables.$text-padding-mobile;
  text-align: left;

  @media (min-width: variables.$lg) {
    padding-inline: variables.$text-padding-desktop;
  }

  a:hover {
    color: variables.$light-grey;
    transition: variables.$base-transition;
  }
}

.paragraph {
  margin-bottom: .5em;
}

.headline {
  color: variables.$white;
  margin-bottom: .5em;
  margin-top: 1em;
}

.list {
  padding-left: 1.5em;
  margin-bottom: .5em;
}

.strong {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.em {
  font-style: italic;
}
