@use '../../00_utilities/variables';

.list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  z-index: 6;
  position: relative;
  list-style: none;
  height: 100%;
  width: fit-content;
  margin-top: 2em;
  margin-left: 2em;

  @media (min-width: variables.$md) {
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 95%;
    gap: 4em;
    margin: 0 auto;
  }

  :last-child {
    margin-top: auto;

    @media (min-width: variables.$md) {
      margin-top: 0;
      margin-left: auto;
    }
  }
}