@use '../../00_utilities/variables';

.container {
  background-color: variables.$secondary;
  width: 100%;
  margin-block: 4em;
  padding-block: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  @media (min-width: variables.$lg) {
    margin-block: 6em;
    padding-block: 3em;
    gap: 1.5em;
  }
}

.text {
  color: white;
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
  font-size: variables.$font-size-big;
  height: fit-content;

  @media (min-width: variables.$md) {
    max-width: 50%;
  }
}
