@use '../../00_utilities/variables';

.wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  margin-block: 4em;
  gap: 1.5em;

  @media (min-width: variables.$lg) {
    flex-direction: row;
    gap: 1em;
    padding-left: 2em;
    padding-right: 0;
  }
}

.media {
  width: 100%;
  max-width: 40em;
  height: auto;
  flex: .9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  margin: 0 auto;

  @media (min-width: variables.$lg) {
    max-width: none;
    justify-self: flex-end;
    align-items: flex-end;
  }

  img,
  video {
    width: 85%;
    height: auto;
  }
}
