@use '../../00_utilities/variables';

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-block: 4em;
  gap: 1.5em;

  @media (min-width: variables.$lg) {
    flex-direction: row;
    gap: 1em;
    padding-left: 2em;
    padding-right: 0;
    max-width: variables.$content-max-width;
  }
}

.centered {
  align-items: center;
}

.media {
  width: 100%;
  max-width: 40rem;
  flex: .9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  margin: 0 auto;

  @media (min-width: variables.$lg) {
    height: var(--text-height, 30rem);
    max-width: none;
    justify-self: flex-end;
    min-height: 20rem;
    max-height: 50rem;
  }
}

.moreMedia {
  max-width: variables.$content-max-width;
  height: 35rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  padding-inline: 10rem;
  width: fit-content;
  gap: 4rem;
  margin-block: 2rem;

/*   >:first-child {
    display: none;
  } */
}
