@use '../../00_utilities/variables';

.wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column-reverse;
  margin-block: 4em;
  gap: 1.5em;

  @media (min-width: variables.$md) {
    flex-direction: row;
    gap: 1em;
  }
}

.text {
  text-align: left;
  flex: 1;
  padding-inline: variables.$text-padding-mobile;

  p {
    margin-bottom: 6px;
  }

  @media (min-width: variables.$lg) {
    padding-inline: variables.$text-padding-desktop;
  }
}

.media {
  width: 100%;
  height: auto;
  flex: 1;
  justify-self: flex-end;

  img {
    width: 80%;
    height: auto;
  }
}
