@use '../../00_utilities/variables';

.container {
  display: flex;
  flex-direction: row;
  width: 6em;
  gap: 1em;
  float: right;
  align-self: flex-end;
  margin-right: 2em;

  @media (min-width: variables.$md) {
    margin-right: 1em;
  }

  @media (min-width: variables.$lg) {
    margin-right: 0;
  }
}

.arrow {
  pointer-events: none;
  color:  variables.$dark-grey;
  width: 100%;
  height: auto;
}

.active {
  pointer-events: all;
  color:  variables.$white;

  &:hover {
    cursor: pointer;
  }
}