@use '../../00_utilities/variables.scss';

.wrapper {
  width: 100%;
  height: 100%;
  z-index: 4;
}

.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;

  @media (min-width: variables.$md) {
    width: 100%;
    height: fit-content;
    background-color: variables.$page-bg;
  }
}

.listWrapper {
  width: 100%;
  height: 50%;
  padding: 1em 2em;
  display: none;
  z-index: 6;

  @media (min-width: variables.$md) {
    display: block;
    height: fit-content;
  }
}

.showNavi {
  display: block;
  position: fixed;
  z-index: 6;

  @media (min-width: variables.$md) {
    position: relative;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .7;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  pointer-events: none;

  @media (min-width: variables.$md) {
    display: none;
  }
}