.wrapper {
  position: fixed;
  width: 100%;
  z-index: 4;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  padding-inline: 1.5em;
  padding-block: 1.5em;

  .list {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: fit-content;
    list-style: none;
  }
}