@use '../../00_utilities/variables.scss';

.wrapper {
  width: 100%;
  height: 100%;
  z-index: 4;
}

.navigation {
  width: 100%;
  z-index: 6;
  position: fixed;
  transition: transform .4s ease-in-out;

  @media (min-width: variables.$md) {
    width: 100%;
    height: fit-content;
    background-color: variables.$page-bg;

    &:after {
      width: 95%;
      margin: 0 auto;
      display: block;
      content: "";
      height: 1px;
      background-color: variables.$grey;
    }
  }
}

.navigationHidden {
  @media (min-width: variables.$md) {
    transform: translateY(-100%);
  }
}

.listWrapper {
  width: 100%;
  height: 50%;
  padding: 1em 2em;
  display: none;
  z-index: 6;

  @media (min-width: variables.$md) {
    display: block;
    height: fit-content;
  }
}

.showNavi {
  display: block;
  position: fixed;
  z-index: 6;

  @media (min-width: variables.$md) {
    position: relative;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .7;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  pointer-events: none;

  @media (min-width: variables.$md) {
    display: none;
  }
}