@use './variables';
// global styles
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: variables.$page-bg;
  font-family: var(--font-inter);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//typography
h1, .headline-1 {
  font-size: 3.5rem;
  line-height: 3.2rem;
  font-family: var(--font-libre-franklin);

  @media (min-width: variables.$md) {
    font-size: 8rem;
    line-height: 7.5rem;
  }
}

h2, .headline-2 {
  font-size: 2.5rem;
  line-height: 2.3rem;
  font-family: var(--font-libre-franklin);

  @media (min-width: variables.$md) {
    font-size: 6rem;
    line-height: 5.5rem;
  }
}

p {
  color: variables.$text-light;
}

a {
  color: variables.$white;
  text-decoration: none;
}
