@use './variables';
// global styles
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: variables.$page-bg;
  font-family: var(--font-inter);
  max-width: 100vw;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  --nav-height: 2em;

  @media (min-width: variables.$md) {
    height: var(--nav-height);
  }
}

//typography
h1, .headline-1 {
  font-size: 3.5rem;
  line-height: 3.2rem;
  font-family: var(--font-libre-franklin);

  @media (min-width: variables.$md) {
    font-size: 4.25rem;
    line-height: 4rem;
  }

  @media (min-width: variables.$lg) {
    font-size: 5.25rem;
    line-height: 5rem;
  }

  @media (min-width: variables.$xl) {
    font-size: 7.25rem;
    line-height: 7rem;
  }
}

h2, .headline-2 {
  font-size: 2.5rem;
  line-height: 2.3rem;
  font-family: var(--font-libre-franklin);

  @media (min-width: variables.$md) {
    font-size: 6.25rem;
    line-height: 6rem;
  }
}

p {
  color: variables.$text-light;
  font-size: 1.2rem;
}

a {
  color: variables.$white;
  text-decoration: none;
}
