//colors
$primary: #C68B22;
$secondaryLight: #C9566B;
$secondary: #9A3156;
$dark-green: #112026;
$darker-green: #001C25;
$darkest-green: #131D21;
$light-green: #2E584B;
$light-grey: #bec8ce;
$grey: #697175;
$dark-grey: #445156;
$white: #fff;
$black: #000;

$text-light: $light-grey;
$page-bg: $dark-green;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// font sizes
$font-size-base: clamp(.6rem, 4vw, 1.2rem);
$font-size-small: clamp(.5rem, 4vw, 1rem);
$font-size-smallest: clamp(.4rem, 4vw, .8rem);
$font-size-big: clamp(.7rem, 4vw, 1.4rem);
$font-size-biggest: clamp(.9rem, 4vw, 1.8rem);

// miscellaneous
$text-padding-mobile: 2rem;
$text-padding-desktop: 3rem;
$base-transition: .3s ease-in;
