//colors
$primary: #C68B22;
$secondary: #C9566B;
$dark-green: #112026;
$darker-green: #001C25;
$darkest-green: #131D21;
$light-green: #2E584B;
$light-grey: #A9B2B7;
$grey: #697175;
$dark-grey: #445156;
$white: #fff;
$black: #000;

$text-light: $light-grey;
$page-bg: $dark-green;

//breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//
$text-padding-mobile: 1.5rem;
$text-padding-desktop: 2rem;