@use '../../00_utilities/variables.scss';

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18em);
  grid-auto-rows: auto;
  grid-column-gap: 10em;
  grid-row-gap: 4em;
  padding: 1em;
}