@use '../../00_utilities/variables.scss';

.container {
  width: 90%;
  border: 2px solid variables.$white;
  padding-inline: 2em;
  min-height: 10em;
  color: variables.$white;
  max-width: 40em;
  padding-bottom: 1.5em;

  @media (min-width: variables.$lg) {
    width: 100%;
    max-width: none;
    min-height: 13em;
  }
}

.date {
  border-bottom: 1px solid variables.$light-grey;
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline {
  padding-block: .5em;
}

.text {
  margin-bottom: 1em;
  font-size: .8rem;

  @media (min-width: variables.$md) {
    font-size: 1rem;
  }

  @media (min-width: variables.$lg) {
    font-size: 1.1rem;
  }
}

.bottomLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .locationText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    color: variables.$text-light;

    svg {
      margin: auto 0;
      color: variables.$white;
    }
  }
}