@use '../../00_utilities/variables';

.wrapper {
  width: 105%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 2em;
  z-index: 3;

  @media (min-width: variables.$lg) {
    width: 100%;
    transform: translateX(0);
    left: 0;
    flex-direction: row;
  }
}

.mediaWrapper {
  width: 80%;
  margin-left: -15%;
  z-index: 3;

  @media (min-width: variables.$md) {
    width: 60%;
    margin-left: -35%;
  }

  @media (min-width: variables.$lg) {
    margin: 0;
    justify-self: flex-start;
    height: auto;
    transform: translateX(0);
    width: 40%;
  }

  @media (min-width: variables.$xl) {
    width: 30%;
  }
}
