@use '../../00_utilities/variables';

.wrapper {
  width: 105%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3em;

  img {
    width: 80%;
    transform: translateX(-10%);
    //flex: 1;
  }

  @media (min-width: variables.$lg) {
    width: 100%;
    transform: translateX(0);
    left: 0;
    gap: 1em;
    flex-direction: row;

    img {
      justify-self: flex-start;
      height: auto;
      width: 40%;
      transform: translateX(0);
    }
  }

  @media (min-width: variables.$xl) {
    img {
      //flex: .4;
    }
  }


}

