@use '../../00_utilities/variables';

.image {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.autoWidth {
  width: fit-content;
  height: 100%;
  align-items: center;

  img {
    width: auto;
  }
}

.centeredImage {
  margin: 0 auto;

  img {
    margin: auto auto;
  }
}

.copyright {
  font-size: variables.$font-size-smallest;
  align-self: center;
}

.videoWrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
