@use '../../00_utilities/variables';

.image {
  width: 100%;
  height: auto;
  max-width: 35rem;

  img {
    width: 100%;
    height: auto;
  }
}

.copyright {
  font-size: variables.$font-size-smallest;
  //position: absolute;
}

.video {
  width: 100%;
  height: auto;

  iframe {
    height: 500px;
    width: 100%;
  }
}
