@use '../../00_utilities/variables';

.wrapper {
  height: 100%;
  --border-width: 95%;
  --border-height: 22em;

  &:first-child {
    &::before {
      display: none;
    }
  }

  &:after {
    height: 1px;
    display: block;
    width: var(--border-width);
    margin: 2em auto 0 auto;
    background-color: variables.$grey;
    content: '';
  }

  &:before {
    content: '';
    position: absolute;
    width: 22em;
    height: var(--border-height);
    background-color: transparent;
    border-left: 1px solid variables.$grey;
    pointer-events: none;
    display: block;
    margin-top: 4em;
    margin-left: -5em;
  }
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .8em;

  @media (min-width: variables.$md) {
    gap: 0;
  }
}

.headline {
  font-size: variables.$font-size-biggest;
  line-height: normal;
  color: variables.$white;
  font-family: var(--font-inter), sans-serif;
  font-variation-settings: "wght" 300;
  text-align: center;
}

.shapeContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0 1fr;
  justify-items: center;
  align-items: start;
}

.letter {
  grid-area: 1 / 1 / 2 ;
  z-index: 2;
  margin-top: 90%;
  transform: translateY(-100%);
  color: transparent;
  background-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px variables.$white;
  font-size: 5rem;
  font-family: var(--font-libre-franklin), sans-serif;
  font-variation-settings: "wght" 600;
}

.shape {
  height: 15em;
  width: auto;
  display: flex;
  align-items: center;
}
