@use '../../00_utilities/variables';

.container {
  width: 100%;
  height: 100%;
  --slider-height: 0;
  max-width: 45em;

  @media (min-width: variables.$lg) {
    flex: 1;
    max-width: 40em;
    margin: 0 auto;
  }

  @media (min-width: variables.$xxl) {
    max-width: 48em;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-block: 1em;
  padding-top: 3em;
  position: relative;
  width: 100%;

  @media (min-width: variables.$lg) {
    align-items: center;
    min-height: var(--slider-height);
  }

  @media (min-width: variables.$xl) {
    gap: 2em;
  }

  div:nth-child(even) {
      align-self: flex-end;

    @media (min-width: variables.$lg) {
      align-self: initial;
    }
  }
}
