@use '../../00_utilities/variables';

.buttonWrapper {
  text-decoration: none;
}

.button {
  border: 2px solid variables.$primary;
  border-radius: .8em;
  padding-inline: 1em;
  padding-block: .5em;
  font-size: variables.$font-size-base;
  color: variables.$white;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;


  &:hover {
    cursor: pointer;
  }

  @media (min-width: variables.$md) {
    font-size: .8rem;
  }

  @media (min-width: variables.$lg) {
    font-size: 1.2rem;
    border-radius: 1em;
    padding-inline: 1.5em;
    padding-block: .5em;
  }
}

.secondary {
  border-color: variables.$white;
  background-color: variables.$white;
  color: variables.$black;
}