@use '../../00_utilities/variables';

.buttonWrapper {
  text-decoration: none;
}

.button {
  --border-color: #{variables.$primary};
  --bg-width: 0;
  border: 2px solid var(--border-color);
  border-radius: .8em;
  padding-inline: 1em;
  padding-block: .5em;
  font-size: variables.$font-size-base;
  color: variables.$white;
  flex-direction: row;
  align-items: center;
  gap: .5em;
  width: fit-content;
  background-color: transparent;
  display: flex;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 0;
    background: var(--border-color);
    z-index: -1;
    border-radius: .8em;
    transition: width .6s ease-in-out, opacity .3s ease-in-out;
  }

  svg {
    transition: transform variables.$base-transition;
  }

  &:hover {
    cursor: pointer;

    svg {
      transform: scale(1.2);
    }

    &::before {
      width: 100%;
      opacity: 1;
    }
  }

  @media (min-width: variables.$lg) {
    border-radius: 1em;
    padding-inline: 1.5em;
    padding-block: .5em;
  }

  //@keyframes animateBg {
  //  0% {
  //    opacity: 0;
  //  }
  //  100% {
  //    width: 100%;
  //  }
  //}
}

.secondary {
  --border-color: #{variables.$secondary};
}
